@import '../../../node_modules/sass-flex-mixin/flex';

html, body, {
  height: 95%;
  font-family: proxima-nova, sans-serif;
}

#app {
  height: 100%;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}
